/**
 * @file
 * Display Suite example layout stylesheet.
 */

.gfcp-basic{
	clear: both;
	min-width: 960px;
}

.gfcp-basic .gfcp-basic-top{
/*	background:  rgba(0,0,0,0.1);*/
	clear:both;
	
}
.gfcp-basic .gfcp-basic-left{
/*	background: rgba(0,0,0,0.1);*/
}
.gfcp-basic .gfcp-basic-middle{
/*	background: rgba(0,0,0,0.1);*/
}
.gfcp-basic .gfcp-basic-right{
/*	background: rgba(0,0,0,0.1);*/
}
.gfcp-basic .gfcp-basic-bottom{
/*	background:  rgba(0,0,0,0.1);*/
	clear:both;
	
}
.gfcp-basic .gfcp-basic-middle .field-name-field-basic-image img,
.gfcp-basic .gfcp-basic-middle .field-name-field-product-listing-image img,
.gfcp-basic .gfcp-basic-middle .view-view-of-children .gfcp-child-block img{ width: 100%; height: auto; }


.gfcp-basic .gfcp-basic-middle .view-view-of-children .views-row-odd .gfcp-child-block{ margin-left: 0; }
.gfcp-basic .gfcp-basic-middle .view-view-of-children .views-row-even .gfcp-child-block{ margin-right: 0; }

.gfcp-basic .gfcp-basic-middle .view-view-of-children .gfcp-child-block{ height: 160px; margin-bottom: 20px; }
.gfcp-basic .gfcp-basic-middle .view-view-of-children .gfcp-child-block h3{ font-size: 14px; }



.gfcp-basic .field-name-field-listing-image img{ width: 100%; height: auto; }